@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #ef5b00;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;

}
.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.info input{
    border: 2px solid #ef5b00;
    border-radius: 3px;
    padding: 4px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    gap: 1.5rem;
    
}

.salvar input{

    width:100%;
    padding: 1.5rem ;
    border: 1px solid #ef5b00;
    background-color: #ef5b00;
    border-radius: 5px;
    font-size: 1.5rem;
    color: aliceblue;
    position: fixed;
    bottom: 0%;
}
.salvar{
    color: aliceblue;
}