@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=point_of_sale");


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat" sans-serif;
}

form {
    width: 100%;
    height: 80px;
    background-color: #ef5b00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

form input {
    width: 360px;
    height: 50px;
    border-radius: 40px;
    padding-left: 40px;
    font-size: medium;
    border: none;
    outline: none;
}

/*.test2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10px;
    justify-content: space-around;
}*/

.elementos {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 30px;
    padding: auto;
    margin: 20px;
    margin-left: 70px;
    margin-top: 60px ;
}

.card1 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*top: 100px;
    left: 50px;*/
    color: #ef5b00;
}


.card2 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*top: 100px;
    right: 50px;*/

}

.card3 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*   top: 280px;
    left: 50px;*/
    color: #ef5b00;
}

.card4 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*top: 280px;
    right: 50px;*/
    color: #ef5b00;
}

.card5 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*top: 440px;
    left: 50px;*/
    color: #ef5b00;
}

.card6 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*top: 440px;
    right: 50px;*/
    color: #ef5b00;
}

.card7 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*bottom: 150px;
    left: 50px;*/
    color: #ef5b00;
}

.card8 {
    border: 0.3rem solid #ef5b00;
    border-radius: 5%;
    padding: 5px;
    text-align: center;
    /*bottom: 150px;
    right: 50px;*/
    color: #ef5b00;
}


form i {
    position: absolute;
    left: calc(50% - 160px);
    font-size: 20px;
    color: black;
}

.box-big {
    background-color: #ef5b00;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;

}

.menu {
    background-color: #ef5b00;
    position: static;
    display: flex;
    flex-direction: row;
    bottom: 0;
    width: 100%;
    height: none;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

footer {
    background-color: #d86f6f;

}

.configuraçao,
.notificaçao,
.inicio,
.fale,
.perfil {
    /*position: absolute;
     /*bottom: 0px;
    left: 340px;
    height: 90px;*/
    color: #ffff;
    font-size: 13px;
}

@media (max-width: 480px) {
    .elementos {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 23px;
    padding: auto;
    margin: 20px;
    margin-left: 55px;
}

}