@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0&icon_names=point_of_sale");


*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Montserrat" sans-serif;
}

form {
    width: 100%;
    height: 80px;
    background-color: #ef5b00;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
form input{
    width: 360px;
    height: 50px;
    border-radius: 40px;
    padding-left: 40px;
    font-size: medium;
    border: none;
    outline: none;
}

/*.test2{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 10px;
    justify-content: space-around;
}*/



.card1{
    position: absolute;
    top: 100px;
    left: 50px;
    color: #ef5b00;
 /*   border: 0.3rem solid #ef5b00;
    padding: 1.2rem;
    border-radius: 10px;
    max-width: 16rem;
    max-height: 8rem;
    align-items: center;
    text-align: center;
    display: flex;
    justify-content:center;
    flex-direction: column;
    font-size: 1.3rem;*/
}


.card2{
    position: absolute;
    top: 100px;
    right: 50px;
    
}
.card3{
    position: absolute;
    top: 280px;
    left: 50px;
    color: #ef5b00;
}
.card4{
    position: absolute;
    top: 280px;
    right: 50px;
    color: #ef5b00;
}
.card5{
    position: absolute;
    top: 440px;
    left: 50px;
    color: #ef5b00;
}
.card6{
    position: absolute;
    top: 440px;
    right: 50px;
    color: #ef5b00;
}
.card7{
    position: absolute;
    bottom: 100px;
    left: 50px;
    color: #ef5b00;
}
.card8{
    position: absolute;
    bottom: 100px;
    right: 50px;
    color: #ef5b00;
    
}


form i {
    position: absolute;
    left: calc(50% - 160px);
    font-size: 20px;
    color: black;
}
.box-big{
    background-color: #ef5b00;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;

}/*
.test{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    gap: 1rem;
    position: fixed;
    bottom: 0%;

    
}*/
/*footer{
    position: fixed;
    display: flexbox;
}*/
footer{
    background-color: #d86f6f;

}

.configuraçao{
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 90px;
    color: #ffff;
    display: flexbox;
    align-content: flex-start;
    font-size: 13px;
}

.notificaçao{
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 100px;
    height: 90px;
    color: #ffff;
    display: flexbox;
    align-content: flex-start;
    font-size: 13px;

}

.inicio{
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 180px;
    height: 90px;
    color: #ffff;
    align-content: flex-start;
    font-size: 13px;
    
}

.fale{
    align-items: center;
    position: absolute;
    bottom: 0px;
    height: 90px;
    left: 260px;
    color: #ffff;
    display: flexbox;
    align-content: flex-start;
    font-size: 13px;

}

.perfil{
    align-items:flex-start;
    position: absolute;
    bottom: 0px;
    left: 340px;
    height: 90px;
    color: #ffff;
    align-content: flex-start;
    font-size: 13px;
}