*{
margin:0;
padding:0;
box-sizing: border-box;
font-family: "Montserrat" sans-serif;
}
header {
    background-color: #ef5b00;
    display: flex;
    align-items: center;
    color: aliceblue;
    font-family: "Montserrat", sans-serif;
    flex-direction: row;
}
/*.caixa{
    position: relative;
    display: flex;
    flex-direction: ;
    padding:80px;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    width: 100px;
    height: 60px; 
}*/
.caixa{
   
    border-radius: 3px;
    border-color: #ef5b00;
    width: 200px;
    height: 100px;

}
.botao{
    display: flex;
    justify-content: left;
    left: 100px;
    bottom: 0px;
    margin: 50px;

}

.card1{
     border: 3px solid #ef5b00; 
     border-radius: 3px;
     margin: 2px;
     display:flex;
     flex-direction: row;
     justify-content: center;
     align-items: center;
}


.botao input{
    width: 90px;
    height: 30px;
    border-radius: 3px;
    border-color:#ef5b00 ;
    background-color: #ffffff;
    font-size: 15px;
    font-family: "Fira Sans", sans-serif;
    justify-content: flex-end;
    /*align-items:end;*
    color: #ef5b00;
    text-align: center;*/
}

/*
.box-big{
    background-color: #ef5b00;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 110px;
    
}
/*footer{
    position: fixed;
    display: flexbox;
}*/
footer{
    display: flex;
    justify-content: end;

}

/*
.configuraçao{
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 20px;
    height: 90px;
    color: #ffff;
    display: flexbox;
    align-content: flex-start;
    font-size: 13px;
}

.notificaçao{
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 100px;
    height: 90px;
    color: #ffff;
    display: flexbox;
    align-content: flex-start;
    font-size: 13px;

}

.inicio{
    align-items: center;
    position: absolute;
    bottom: 0px;
    left: 180px;
    height: 90px;
    color: #ffff;
    align-content: flex-start;
    font-size: 13px;
    
}

.fale{
    align-items: center;
    position: absolute;
    bottom: 0px;
    height: 90px;
    left: 260px;
    color: #ffff;
    display: flexbox;
    align-content: flex-start;
    font-size: 13px;

}

.perfil{
    align-items:flex-start;
    position: absolute;
    bottom: 0px;
    left: 340px;
    height: 90px;
    color: #ffff;
    align-content: flex-start;
    font-size: 13px;
}
    */